*{
    margin: 0;
    padding: 0;
}


#main{
    padding: 100px 0;
    background: tomato;
}
#venobox{
    padding: 100px 0;
    background: rgb(253, 54, 4);
}
#mixItUp{
    padding: 100px 0;
    background: rgba(243, 13, 5, 0.603);
    height: 1100px;
}
.lb-close, .lb-prev, .lb-next {
    opacity: 1 !important; /* Always show the buttons */
}
.lb-prev {
    left: 10px; /* Adjust position */
}
.lb-next {
    right: 10px;
}

.vbox-close {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 99;
    padding: 12px 12px;
    color: #fff;
    color: var(--vbox-tools-color);
    border: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    opacity: .8;
    transition: opacity .2s;
    border-radius: 50%;
    border: 2px solid white;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
}
.gallery-item {
    width: 30%;
    height: 200px;
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 30px;
}


#typing-text::after {
    content: "|";
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}
#slickSlider{
    padding: 100px 0;
    background: rgb(173, 173, 173);
}
.slider{
    padding: 300px 0;
    background: tomato;
}
.one{
    background: teal;
}
.two{
    background: blue;
}
.leftArrow{
    font-size: 30px;
    color: #000;
    z-index: 99;
    position: absolute;
    top: 44%;
    left: 20px;
    cursor: pointer;
}
.rightArrow{
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 44%;
    right: 20px;
    cursor: pointer;
}
#slickSlider_two{
    background: #cec0c0;
    padding: 100px 0;
}
.slideImg{
    background: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-two{
    background: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-three{
    background: url(../images/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay{
    padding: 300px 0;
    background: rgba(0, 0, 0, 0.5);
}
.slick-dots{
    text-align: center;
    margin-top: 30px;
}
.slick-dots li {
    display: inline-block;
    margin-right: 10px;
}
.slick-dots li button {
    font-size: 0;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: black;
}

.back-to-top a{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    color: #000;
  }